.head {
  display: flex;
  height: 10%;
  background: #C5E9FF;
}

.registr-h1 {
  display: flex;
  align-items: center;
  margin-left: 30vw;
  margin-right: 5vw;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  width: 100%;
}
  