.bodyStyleSvg {
  display: flex;
  height: 90vh;
}

.bodyPic {
  margin: 10vw;
  width: 28vw;
  height: 40vh;
}

.RegistrationBox {
  display: flex;
  flex-direction: column;
  background: white;
  width: 40vw;
  margin-top: 5vh;
  padding: 0 4vw;
  border-radius: 5px;
  margin-bottom: 7%;
}

.RegSpan {
  display: flex;
  justify-content: center;
  margin: 3vw;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #000000; 
}

.RegLogin {
  margin: 1vw 1vw 1vw 0;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.RegInput {
  /* margin: 0 0 3% 0; */
  height: 55px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  padding: 18px 14px;
}

.UserBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50%;
  margin-left: auto;
  text-align: right;
}

.newUserButton {
  height: 4vh;
  max-width: 400px;
  margin-top: 3vh;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
  align-items: center;
}

.RegLabel {
  margin-top: 2vh;
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
